.menuWrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  padding-top: 50px;
  background: #181818;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}

.inner {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.menuWrap.active {
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
}

.links button {
  display: inline-block;
  border: none;
  background-color: transparent;
  outline: none;
  color: #fff;
  font-family: 'MessinaSansMono-Black';
  font-size: 22px;
  margin-bottom: 15px;
}

.links button:hover {
  text-decoration: underline;
}

.contentWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap {
  display: flex;
  flex-direction: row-reverse;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuBtn {
  color: #fff;
}

.menuBtn:hover {
  color: #000;
}

.logoWrap svg path {
  fill: #ffff;
}

.logoWrap:hover svg path {
  fill: #000;
}

