.button {
  background: #dc3b5a;
  width: 100%;
  font-size: 16px;
  border: none;
  padding: 15px 30px 15px 30px;
  cursor: pointer;
  word-spacing: 5px;
  border-radius: 12px;
  font-weight: bold;
  font-family: 'RightGrotesk-WideMedium';
  color: #fff;
}

.button:hover {
  color: #000;
}

